<footer style="background-color: #30C9C9; padding-left: 65px; padding-top: 15px; padding-bottom: 15px;" >
    <div class="row">
        <div class="col-sm-3">
            <img src="/images/Mehdi Hussain.png" style="width: 150; height: 50;">
            <p>&copy; Mehdi Hussain 2020. All Rights Reserved.</p>
            <p>Contact me at <a href="mailto:mehdi@mehdi.us">mehdi@mehdi.us</a></p>
        </div>
    </div>
</footer>