<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/themify-icons.css">
        <link rel="stylesheet" href="css/nice-select.css">
        <link rel="stylesheet" href="css/flaticon.css">
        <link rel="stylesheet" href="css/gijgo.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/slicknav.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Mehdi Hussain</title>
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- <a class="navbar-brand" href="/">Mehdi Hussain</a> -->
        <img src="/images/Mehdi Hussain.png" style="width: 150; height: 50;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <span class="navbar-text">
                Student | Programmer | Entrepreneur
            </span>
        </div>
    </nav>
<body>
    <section class="fade-in">
        <div class="m-2">
            <img src="/images/profile-new.png" class="borderCircle mx-auto m-3">
            <h1 class="text-center text-light">Mehdi Hussain</h1>
            <h5 class="text-center text-light">Student | Programmer | Entrepreneur</h5>
            <p class="text-center text-light">Hi! I'm Mehdi Hussain! A Developer from the Triangle in North Carolina!
                <br>This Website
                holds all of my projects since I have started coding.</p>
        </div>
        <hr>
    </section>

    <section class="fade-in">

        
        <div class="m-2">
            <h2 class="text-center m-3 text-light">Projects</h2>
            <div class="row mx-auto" style="width: 85%;">
                <div>

                </div>
                <div class="col-sm-3" style="padding-bottom: 10px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">IABAT iOS App</h5>
                            <p class="card-text">The IABAT iOS App was one of the first Production Projects I have ever
                                made.</p>
                            <a href="/projects/iabatios" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style="padding-bottom: 10px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">mScan</h5>
                            <p class="card-text">A Simple yet powerful PDF Sharing App. Thats All. Nothing More, Nothing less.</p>
                            <a href="#" class="btn btn-primary disabled">Coming Soon</a>

                        </div>
                    </div>
                </div>

                <div class="col-sm-3" style="padding-bottom: 10px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">NC Hack</h5>
                            <p class="card-text">NC Hack provides Hackathons what they need to get started on helping
                                future coders.</p>
                            <a href="https://nchack.org" class="btn btn-primary ">Go to NC Hack</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3" style="padding-bottom: 10px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">PhotoServe</h5>
                            <p class="card-text">High-Quality and professional Photos at an affordible price. Coming 2021.</p>
                            <a href="#" class="btn btn-primary disabled">Coming Soon</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nonprofit Foundation</h5>
                            <p class="card-text">A Social Organization
                                Built by Teens to help Nonprofits in the Tech Industry.</p>
                            <a href="https://nonprofit.foundation" class="btn btn-primary">Go to Nonprofit
                                Foundation</a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Fajr.Tech</h5>
                            <p class="card-text">Co-Founder and Head of Product. Provides Websites and Apps to Mosques.
                                Currently Pre-Launch.</p>
                            <a href="https://fajr.tech" class="btn btn-primary">Go to Fajr.Tech</a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">TrueMessage To-Do</h5>
                            <p class="card-text">A Simple To-Do Web App. Also one of the First Production Apps I had
                                ever made.</p>
                            <a href="#" class="btn btn-primary disabled">Currently Closed</a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">PhotoServe</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary disabled">Coming Soon</a>
                        </div>
                    </div>
                </div>
            
<!--

   <div class="portfolio_area">
        <div class="portfolio_wrap">
            <div class=" single_gallery">
                <div class="thumb">
                    <img src="images/IABAT.png" alt="">
                </div>
                <div class="gallery_hover">
                    <div class="hover_inner">
                            <span>Mobile Development</span>
                            <a href="work_details.html"> <h3>IABAT iOS App</h3></a>
                            
                    </div>
                </div>
            </div>
            <div class="single_gallery small_width">
                <div class="thumb">
                    <img src="images/Space-Rushers.png" alt="">
                </div>
                <div class="gallery_hover">
                        <div class="hover_inner">
                                <span>Mobile App</span>
                                <a href="work_details.html"> <h3>Space Rushers</h3></a>
                        </div>
                    </div>
            </div>
            <div class="single_gallery">
                <div class="thumb">
                    <img src="img/portfolio/3.png" alt="">
                </div>
                <div class="gallery_hover">
                        <div class="hover_inner">
                                <span>Mobile App</span>
                                <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                        </div>
                    </div>
            </div>
            <div class=" single_gallery">
                <div class="thumb">
                    <img src="img/portfolio/4.png" alt="">
                </div>
                <div class="gallery_hover">
                        <div class="hover_inner">
                                <span>Mobile App</span>
                                <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                        </div>
                    </div>
            </div>
            <div class="single_gallery">
                <div class="thumb">
                    <img src="img/portfolio/5.png" alt="">
                </div>
                <div class="gallery_hover">
                        <div class="hover_inner">
                                <span>Mobile App</span>
                                <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                        </div>
                    </div>
            </div>
            <div class=" single_gallery small_width">
                <div class="thumb">
                    <img src="img/portfolio/6.png" alt="">
                </div>
                <div class="gallery_hover">
                        <div class="hover_inner">
                                <span>Mobile App</span>
                                <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                        </div>
                    </div>
            </div>
            <div class="single_gallery">
                <div class="thumb">
                    <img src="img/portfolio/7.png" alt="">
                </div>
                <div class="gallery_hover">
                        <div class="hover_inner">
                                <span>Mobile App</span>
                                <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                        </div>
                    </div>
            </div>
            <div class=" single_gallery small_width">
                <div class="thumb">
                    <img src="img/portfolio/8.png" alt="">
                </div>
                <div class="gallery_hover">
                        <div class="hover_inner">
                                <span>Mobile App</span>
                                <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                        </div>
                    </div>
            </div>
            <div class=" single_gallery">
                <div class="thumb">
                    <img src="img/portfolio/9.png" alt="">
                </div>
                <div class="gallery_hover">
                        <div class="hover_inner">
                                <span>Mobile App</span>
                                <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                        </div>
                    </div>
            </div>
        </div>
     </div> -->
            </div>
        </div>
    </section>
</body>

<%- include('footer.ejs') %>